<?xml version="1.0" encoding="utf-8"?>

<!--
    Security Warnings
    https://docs.microsoft.com/visualstudio/code-quality/security-warnings

    Security warnings support safer libraries and applications. These warnings help prevent security flaws in your
    program. If you disable any of these warnings, you should clearly mark the reason in code and also inform the
    designated security officer for your development project.
-->

<RuleSet Name="CA51XX" ToolsVersion="14.0">
    <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">

        <!--
            /Invoke declarations should not be safe critical

            Methods are marked as SecuritySafeCritical when they perform a security sensitive operation, but are also
            safe to be used by transparent code. Transparent code may never directly call native code through a
            P/Invoke. Therefore, marking a P/Invoke as security safe critical will not enable transparent code to call
            it, and is misleading for security analysis.
        -->
        <Rule Id="CA5122 " Action="None" />

    </Rules>
</RuleSet>