<?xml version="1.0" encoding="utf-8"?>

<!--
    Security Warnings
    https://docs.microsoft.com/visualstudio/code-quality/security-warnings

    Security warnings support safer libraries and applications. These warnings help prevent security flaws in your
    program. If you disable any of these warnings, you should clearly mark the reason in code and also inform the
    designated security officer for your development project.
-->

<RuleSet Name="CA54XX" ToolsVersion="14.0">
    <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">

        <!--
            Ensure HttpClient certificate revocation list check is not disabled

            A revoked certificate isn't trusted anymore. It could be used by attackers passing some malicious data or
            stealing sensitive data in HTTPS communication.
        -->
        <Rule Id="CA5400" Action="None" />

        <!--
            Do not use CreateEncryptor with non-default IV

            Symmetric encryption should always use a non-repeatable initialization vector to prevent dictionary attacks.
        -->
        <Rule Id="CA5401" Action="None" />

        <!--
            Use CreateEncryptor with the default IV

            Symmetric encryption should always use a non-repeatable initialization vector to prevent dictionary attacks.
        -->
        <Rule Id="CA5402" Action="None" />

    </Rules>
</RuleSet>