<?xml version="1.0" encoding="utf-8"?>

<!--
    Documentation Rules
    https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/DocumentationRules.md

    Rules which verify the content and formatting of code documentation.
-->

<RuleSet Name="SA16XX" ToolsVersion="14.0">
    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">

        <!--
            ElementsMustBeDocumented

            A C# code element is missing a documentation header.
        -->
        <Rule Id="SA1600" Action="None" />

        <!--
            PartialElementsMustBeDocumented

            A C# partial element is missing a documentation header.
        -->
        <Rule Id="SA1601" Action="None" />

        <!--
            EnumerationItemsMustBeDocumented

            An item within a C# enumeration is missing an Xml documentation header.
        -->
        <Rule Id="SA1602" Action="None" />

        <!--
            DocumentationMustContainValidXml

            The Xml within a C# element's document header is badly formed.
        -->
        <Rule Id="SA1603" Action="None" />

        <!--
            ElementDocumentationMustHaveSummary

            The Xml header documentation for a C# element is missing a `<summary>` tag.
        -->
        <Rule Id="SA1604" Action="None" />

        <!--
            PartialElementDocumentationMustHaveSummary

            The `<summary>` or `<content>` tag within the documentation header for a C# code element is missing or
            empty.
        -->
        <Rule Id="SA1605" Action="None" />

        <!--
            ElementDocumentationMustHaveSummaryText

            The `<summary>` tag within the documentation header for a C# code element is empty.
        -->
        <Rule Id="SA1606" Action="None" />

        <!--
            PartialElementDocumentationMustHaveSummaryText

            The `<summary>` or `<content>` tag within the documentation header for a C# code element is empty.
        -->
        <Rule Id="SA1607" Action="None" />

        <!--
            ElementDocumentationMustNotHaveDefaultSummary

            The `<summary>` tag within an element's Xml header documentation contains the default text generated by
            Visual Studio during the creation of the element.
        -->
        <Rule Id="SA1608" Action="None" />

        <!--
            PropertyDocumentationMustHaveValue

            The Xml header documentation for a C# property does not contain a `<value>` tag.
        -->
        <Rule Id="SA1609" Action="None" />

        <!--
            PropertyDocumentationMustHaveValueText

            The Xml header documentation for a C# property contains an empty `<value>` tag.
        -->
        <Rule Id="SA1610" Action="None" />

        <!--
            ElementParametersMustBeDocumented

            A C# method, constructor, delegate or indexer element is missing documentation for one or more of its
            parameters.
        -->
        <Rule Id="SA1611" Action="None" />

        <!--
            ElementParameterDocumentationMustMatchElementParameters

            The documentation describing the parameters to a C# method, constructor, delegate or indexer element does
            not match the actual parameters on the element.
        -->
        <Rule Id="SA1612" Action="None" />

        <!--
            ElementParameterDocumentationMustDeclareParameterName

            A `<param>` tag within a C# element's documentation header is missing a name attribute containing the name
            of the parameter.
        -->
        <Rule Id="SA1613" Action="None" />

        <!--
            ElementParameterDocumentationMustHaveText

            A `<param>` tag within a C# element's documentation header is empty.
        -->
        <Rule Id="SA1614" Action="None" />

        <!--
            ElementReturnValueMustBeDocumented

            A C# element is missing documentation for its return value.
        -->
        <Rule Id="SA1615" Action="None" />

        <!--
            ElementReturnValueDocumentationMustHaveText

            The `<returns>` tag within a C# element's documentation header is empty.
        -->
        <Rule Id="SA1616" Action="None" />

        <!--
            VoidReturnValueMustNotBeDocumented

            A C# code element does not contain a return value, or returns void, but the documentation header for the
            element contains a `<returns>` tag.
        -->
        <Rule Id="SA1617" Action="None" />

        <!--
            GenericTypeParametersMustBeDocumented

            A generic C# element is missing documentation for one or more of its generic type parameters.
        -->
        <Rule Id="SA1618" Action="None" />

        <!--
            GenericTypeParametersMustBeDocumentedPartialClass

            A generic, partial C# element is missing documentation for one or more of its generic type parameters, and
            the documentation for the element contains a `<summary>` tag.
        -->
        <Rule Id="SA1619" Action="None" />

        <!--
            GenericTypeParameterDocumentationMustMatchTypeParameters

            The `<typeparam>` tags within the Xml header documentation for a generic C# element do not match the generic
            type parameters on the element.
        -->
        <Rule Id="SA1620" Action="None" />

        <!--
            GenericTypeParameterDocumentationMustDeclareParameterName

            A `<typeparam>` tag within the Xml header documentation for a generic C# element is missing a name
            attribute, or contains an empty name attribute.
        -->
        <Rule Id="SA1621" Action="None" />

        <!--
            GenericTypeParameterDocumentationMustHaveText

            A `<typeparam>` tag within the Xml header documentation for a generic C# element is empty.
        -->
        <Rule Id="SA1622" Action="None" />

        <!--
            PropertySummaryDocumentationMustMatchAccessors

            The documentation text within a C# property's `<summary>` tag does not match the accessors within the
            property.
        -->
        <Rule Id="SA1623" Action="None" />

        <!--
            PropertySummaryDocumentationMustOmitSetAccessorWithRestrictedAccess

            The documentation text within a C# property's `<summary>` tag takes into account all of the accessors within
            the property, but one of the accessors has limited access.
        -->
        <Rule Id="SA1624" Action="None" />

        <!--
            ElementDocumentationMustNotBeCopiedAndPasted

            The Xml documentation for a C# element contains two or more identical entries, indicating that the
            documentation has been copied and paste
        .-->
        <Rule Id="SA1625" Action="None" />

        <!--
            SingleLineCommentsMustNotUseDocumentationStyleSlashes

            The C# code contains a single-line comment which begins with three forward slashes in a row.
        -->
        <Rule Id="SA1626" Action="None" />

        <!--
            DocumentationTextMustNotBeEmpty

            The Xml header documentation for a C# code element contains an empty tag.
        -->
        <Rule Id="SA1627" Action="None" />

        <!--
            DocumentationTextMustBeginWithACapitalLetter

            A section of the Xml header documentation for a C# element does not begin with a capital letter.
        -->
        <Rule Id="SA1628" Action="None" />

        <!--
            DocumentationTextMustEndWithAPeriod

            A section of the Xml header documentation for a C# element does not end with a period (also known as a full
            stop).
        -->
        <Rule Id="SA1629" Action="None" />

        <!--
            DocumentationTextMustContainWhitespace

            A section of the Xml header documentation for a C# element does not contain any whitespace between words.
        -->
        <Rule Id="SA1630" Action="None" />

        <!--
            DocumentationMustMeetCharacterPercentage

            A section of the Xml header documentation for a C# element does not contain enough alphabetic characters.
        -->
        <Rule Id="SA1631" Action="None" />

        <!--
            DocumentationTextMustMeetMinimumCharacterLength

            From StyleCop 4.5 this rule is disabled by default.
        -->
        <Rule Id="SA1632" Action="None" />

        <!--
            FileMustHaveHeader

            A C# code file is missing a standard file header.
        -->
        <Rule Id="SA1633" Action="None" />

        <!--
            FileHeaderMustShowCopyright

            The file header at the top of a C# code file is missing a copyright tag.
        -->
        <Rule Id="SA1634" Action="None" />

        <!--
            FileHeaderMustHaveCopyrightText

            The file header at the top of a C# code file is missing copyright text.
        -->
        <Rule Id="SA1635" Action="None" />

        <!--
            FileHeaderCopyrightTextMustMatch

            The file header at the top of a C# code file does not contain the appropriate copyright text.
        -->
        <Rule Id="SA1636" Action="None" />

        <!--
            FileHeaderMustContainFileName

            The file header at the top of a C# code file is missing the file name.
        -->
        <Rule Id="SA1637" Action="None" />

        <!--
            FileHeaderFileNameDocumentationMustMatchFileName

            The file tag within the file header at the top of a C# code file does not contain the name of the file.
        -->
        <Rule Id="SA1638" Action="None" />

        <!--
            FileHeaderMustHaveSummary

            The file header at the top of a C# code file does not contain a filled-in summary tag.
        -->
        <Rule Id="SA1639" Action="None" />

        <!--
            FileHeaderMustHaveValidCompanyText

            The file header at the top of a C# code file does not contain company name text.
        -->
        <Rule Id="SA1640" Action="None" />

        <!--
            FileHeaderCompanyNameTextMustMatch

            The file header at the top of a C# code file does not contain the appropriate company name text.
        -->
        <Rule Id="SA1641" Action="None" />

        <!--
            ConstructorSummaryDocumentationMustBeginWithStandardText

            The XML documentation header for a C# constructor does not contain the appropriate summary text.
        -->
        <Rule Id="SA1642" Action="None" />

        <!--
            DestructorSummaryDocumentationMustBeginWithStandardText

            The Xml documentation header for a C# finalizer does not contain the appropriate summary text.
        -->
        <Rule Id="SA1643" Action="None" />

        <!--
            DocumentationHeadersMustNotContainBlankLines

            A section within the Xml documentation header for a C# element contains blank lines.
        -->
        <Rule Id="SA1644" Action="None" />

        <!--
            IncludedDocumentationFileDoesNotExist

            An included Xml documentation file does not exist.
        -->
        <Rule Id="SA1645" Action="None" />

        <!--
            IncludedDocumentationXPathDoesNotExist

            An included Xml documentation link contains an invalid path.
        -->
        <Rule Id="SA1646" Action="None" />

        <!--
            IncludeNodeDoesNotContainValidFileAndPath

            An include tag within an Xml documentation header does not contain valid file and path attribute.
        -->
        <Rule Id="SA1647" Action="None" />

        <!--
            InheritDocMustBeUsedWithInheritingClass

            `<inheritdoc>` has been used on an element that doesn't inherit from a base class or implement an interface.
        -->
        <Rule Id="SA1648" Action="None" />

        <!--
            FileNameMustMatchTypeName

            The file name of a C# code file does not match the first type declared in the file.
        -->
        <Rule Id="SA1649" Action="None" />

        <!--
            ElementDocumentationMustBeSpelledCorrectly

            The element documentation for the element contains one or more spelling mistakes or unrecognized words.
        -->
        <Rule Id="SA1650" Action="None" />

        <!--
            DoNotUsePlaceholderElements

            The documentation for the element contains one or more `<placeholder>` elements.
        -->
        <Rule Id="SA1651" Action="None" />

        <!--
            EnableXmlDocumentationOutput

            This rule was moved to SA0001.
        -->
        <Rule Id="SA1652" Action="None" />

    </Rules>
</RuleSet>