<?xml version="1.0" encoding="utf-8"?>

<!--
    Alternative Rules
    https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/AlternativeRules.md

    Rules which are non-standard extensions to the default StyleCop behavior, and represent an alternative style which
    is adopted by some projects. Alternative rules are known to directly conflict with standard StyleCop rules.
-->

<RuleSet Name="SX" ToolsVersion="14.0">
    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">

        <!--
            DoNotPrefixLocalMembersWithThis

            A call to an instance member of the local class or a base class is prefixed with 'this.', within a C# code
            file.
        -->
        <Rule Id="SX1101" Action="None" />

        <!--
            FieldNamesMustBeginWithUnderscore

            A field name does not begin with an underscore.
        -->
        <Rule Id="SX1309" Action="None" />

        <!--
            StaticFieldNamesMustBeginWithUnderscore

            A static field name does not begin with an underscore.
        -->
        <Rule Id="SX1309S" Action="None" />

    </Rules>
</RuleSet >